<header>
  <h1>Welcome, <%= current_user.name %></h1>
</header>

<a class="btn btn-primary btn-lg btn-block" id='add-new-skill-button' href="<%= new_skill_path %>">Add New Skill</a>

<section class='user-show-main'>
  <h3>Your Skills</h3>
  <% @user.skills.each do |skill| %>
    <div>
      <h4><%= skill.title %></h4>
      <p><%= skill.description %></p>
    </div>
  <% end %>
</section>
