/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap";

html, body {
  height: 100%;
}

header {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 96, 0, 1.0);
  color: rgba(255, 255, 255, 1.0);
  font-size: 60px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(46, 51, 56, 1.0);
  color: rgba(255, 255, 255, 1.0);
  font-size: 14px;
}

summary {
  position: fixed;
  width: 100%;
  height: 40px;
  background: rgba(255, 96, 0, 1.0);
  color: rgba(255, 255, 255, 1.0);
  display: flex;
  justify-content: center;
  align-items: space-around;
  font-size: 26px;
}

.user-show-main {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.user-show-main-left {
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-show-main-right {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-show-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skill-show-main {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.skill-show-main-left {
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-show-main-right {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-show-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-category-link {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.welcome-page-main {
  padding: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-main {
  margin-right: 57%;
  margin-left: 43%;
  padding: 20px;
  margin-top: 100px;
  border: solid 1px gray;
  border-radius: 10px;
  width: 200px;
  background-color: rgba(230,233,237,1.0);
  box-shadow: 5px 5px grey;
}

.category-index-main {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-index-main-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-index-main {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-index-main-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-show-main {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-show-main-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-user-main {
  height: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.new-user-form {
  height: 250px;
  padding: 20px;
  border: solid 1px gray;
  border-radius: 10px;
  background-color: rgba(230,233,237,1.0);
  box-shadow: 5px 5px grey;
}

.new-category-main {
  height: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.new-category-form {
  height: 175px;
  padding: 20px;
  border: solid 1px gray;
  border-radius: 10px;
  background-color: rgba(230,233,237,1.0);
  box-shadow: 5px 5px grey;
}

.new-skill-main {
  height: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.new-skill-form {
  height: 175px;
  padding: 20px;
  border: solid 1px gray;
  border-radius: 10px;
  background-color: rgba(230,233,237,1.0);
  box-shadow: 5px 5px grey;
}

.edit-skill-main {
  height: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.edit-skill-form {
  height: 175px;
  padding: 20px;
  border: solid 1px gray;
  border-radius: 10px;
  background-color: rgba(230,233,237,1.0);
  box-shadow: 5px 5px grey;
}

.edit-category-main {
  height: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.edit-category-form {
  height: 175px;
  padding: 20px;
  border: solid 1px gray;
  border-radius: 10px;
  background-color: rgba(230,233,237,1.0);
  box-shadow: 5px 5px grey;
}

#login-button {
  width: 120px;
  margin-top: 10px;
}

#signup-button {
  padding-top: 200px;
  padding-bottom: 200px;
  font-size: 30px;
  border-radius: 20px;
}

#initial-login-button {
  padding-top: 200px;
  padding-bottom: 200px;
  font-size: 30px;
  border-radius: 20px;
}

#nav-logout-button {
  color: white;
  padding-left: 0px;
}

#nav-login-button {
  color: white;
  padding-left: 0px;
}

#add-new-skill-button {
  border-radius: 0px;
}

#skills-to-learn-header {
  text-align: center;
  width: 400px;
  border-bottom: solid 2px black;
  display: flex;
  justify-content: center;
}

#skills-to-mentor-header {
  text-align: center;
  width: 400px;
  border-bottom: solid 2px black;
  display: flex;
  justify-content: center;
}

#category-show-main-header {
  font-size: 36px;
  width: 300px;
  border-bottom: solid 2px black;
  display: flex;
  justify-content: center;
}

#category-show-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
#category-show-edit {
  font-size: 20px;
  margin-left: 10px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  box-shadow: 5px 5px grey;
}

#category-show-delete {
  font-size: 20px;
  margin-right: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  box-shadow: 5px 5px grey;
}
