<header class='category-index-header'>
  <div>Categories</div>
</header>

<% if current_admin? %>
  <a class="btn btn-primary btn-lg btn-block" id='add-new-skill-button' href="<%= new_category_path %>">Create New Category</a>
<% end %>

<section class='category-index-main'>
  <% @categories.shuffle.each do |category| %>
    <div class='category-index-main-item'>
      <h4><%= link_to category.title, category_path(category) %></h4>
      <p><%= category.description %></p>
    </div>
  <% end %>
</section>
