<h1>Categories</h1>

<%= link_to 'Create New Category', new_category_path %>

<% @categories.each do |category| %>
  <h4><%= link_to category.title, category_path(category) %></h4>
  <p><%= category.description %></p>
<% end %>
